<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- learning with bean tag -->
    <bean id="car" class="org.example.Car">
        <!-- collaborators and configuration for this bean go here -->
<!--        <constructor-arg></constructor-arg>-->
<!--        <property name="x"></property>-->
    </bean>

    <!-- learn annotation -->
    <context:component-scan base-package="org.example"></context:component-scan>

</beans>

